{% include "header.html" %}
{% load static %}
<!-- ======= Hero Section ======= -->

<main id="main">
  <section class="d-flex align-items-center" style="">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="sidepanel" id="sidepanel">
      <form method="POST" action="/Aurus_Decryptor">
		   {% csrf_token %}
		<div class="col-md-12 mt-5">
			<p class="trn">Enter Request To decrypt </p>
		<div class="row">
			<div class="col-md-5 tableFixHead">
				<textarea placeholder="Enter Request here" name="encryptedRequest" id="requestData">{{ EncryptedData }}</textarea>
			</div>
			<div class="col-md-2 tableFixHead" style="display: grid;place-items: center;">
				 <div class="shadow-textarea">
                	<input type="text" class="mytext w-100 text-center z-depth-1" id="deviceSerialNumber" name="deviceSerialNumber" placeholder="Enter Device Serial Number" >
				 </div>
				 <div class="shadow-textarea">
					<input type="submit" class="shadow-textarea mytext  text-center z-depth-1 btn btn-secondary " id="send_data" name="addsubmit" value="Submit" />
				 </div>
			</div>
			<div class="col-md-5 tableFixHead">
				<div>
					<a class="float-button" id='gcb_button_req' data-toggle="tooltip" data-placement="bottom" title="Copy" onclick="copyToClipboard('#gcb_request', '#gcb_button_req')"><i class="fas fa-copy"></i></a>
				</div>
				<textarea disabled>{{ DecryptedData }}</textarea>
			</div>

		</div>
	</div>
	</form>
	    </div>
      </div>
    </div>
  </section>
</main>
<a class="back-to-top" href="#"><i class="icofont-simple-up"></i></a>
<script src="{% static 'asset/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'asset/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'asset/vendor/counterup/counterup.min.js' %}"></script>
<script src="{% static 'asset/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'asset/vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'asset/vendor/aos/aos.js' %}"></script>
<script src="{% static 'asset/js/Indoor_Processor.js' %}"></script>
<script src="{% static 'asset/js/main.js' %}"></script>
<script type="text/javascript">

 	$(document).ready(function () {
            $("#send_data").click(function (e) {
                const inputField = $("#requestData").val().trim();
                let trimmedPayload = inputField.replace(/\s+/g, '');
				let parsedJSON = JSON.parse(trimmedPayload);
				$("#requestData").text(parsedJSON)
				let encFlag = parsedJSON.hasOwnProperty('encryptionFlag') ? parsedJSON.encryptionFlag : "00";
                if (encFlag === "06" || encFlag === "01" || encFlag == "03") {
					$("#deviceSerialNumber").attr("required", "required")
                } else {
                	$("#deviceSerialNumber").removeAttr("required")
                }
            });
        });

$(document).ready(function () {
    $(document).on("keydown", function(e) {
        e = e || window.event;
        if (e.ctrlKey) {
            var c = e.which || e.keyCode;
            if (c == 82) {
                e.preventDefault();
                e.stopPropagation();
            }
        }
    });
});

function copyToClipboard(element, element2) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
  $('body').find('.float-button').removeClass("float-button-click");
  $(element2).toggleClass("float-button-click");
}

$(".trndiv").owlCarousel({
    autoPlay: 3000,
    items: 3,
    margin: 10,
    itemsDesktop: [1199, 1],
    itemsDesktopSmall: [979, 1],
    navigation: true,
    responsiveClass: true,
    responsive: {
        0: {
            items: 1,

        },
        600: {
            items: 1,

        },
        1000: {
            items: 1,

        }
    }

});
</script>
</body>
</html>