{% include "header.html" %}
{% load static %}
<!-- ======= Hero Section ======= -->

<main id="main">
  <section class="d-flex align-items-center" style="">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="sidepanel" id="sidepanel">
      <form method="POST" action="/Instore_Testing" novalidate>
	  {% csrf_token %}
		  <input type="hidden" name="singleTransactionCheck" value="1">
      <div class="col-md-12">
          <div class="row mt-5">
            <div class="col-md-2">
              <div class="shadow-textarea">
                <select class="mytext w-100 text-center z-depth-1" id="Transaction_Type" name="Trans_type" required>
                  <option value="00">Select Transaction</option>
                  <option value="000">GCB</option>
                  <option value="01">Sale</option>
                  <option value="02">Refund of Sale</option>
                  <option value="03">Void of Sale</option>
                  <option value="07">Refund without sale</option>
				  <option value="08">Void of Refund without sale</option>
                  <option value="04">Pre-auth</option>
                  <option value="05">Post-auth</option>
                  <option value="06">Void of Pre-auth</option>
					<option value="20">CancelLast sale transaction</option>
                  <option value="15">Inside Sale Outdoor Refund</option>
                  <option value="16">Refund Retry</option>
                  <option value="09">Gift Activation</option>
                  <option value="10">Gift Reload</option>
                  <option value="11">Gift Redeem</option>
				  <option value="12">Gift Balance Enquiry</option>
				  <option value="13">Gift pre-auth activation</option>
				  <option value="14">Gift pre-auth reload</option>
				</select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="shadow-textarea">
                <select class="mytext w-100 text-center z-depth-1" id="token_type" name="token_type" required>
                  <option value="00">Select Token</option>
                  <option value="01">Card Token</option>
                  <option value="02">CI Token</option>
                  <option value="03">CRM Token</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="shadow-textarea">
                <select class="mytext w-100 text-center z-depth-1" id="gcb_type" name="gcb_type" required>
					<option value="00">Select GCB type</option>
                  	<option value="N">MSR & EMV</option>
                  	<option value="Y">Manual Keyed</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="shadow-textarea">
                <select class="mytext w-100 text-center z-depth-1" id="product_count" name="product_count" required>
                  <option value="0">Select products count</option>
                  <option value="0">00</option>
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="shadow-textarea">
                <input type="text" class="mytext w-100 text-center z-depth-1" id="amount" name="amount" placeholder="Enter Amount" required>
              </div>
            </div>
            <div class="col-md-2">
               <input type="submit" class="shadow-textarea mytext  text-center z-depth-1 btn btn-secondary " id="send_data" name="addsubmit" value="Submit" />
                                   
            </div>
          </div>
	  </div>
	</form>
	{% if Data.gcb %}
	<div class="col-md-12 mt-5">
		<div class="row">
			<div class="col-md-4 tableFixHead">
			   {% if Data.gcb %} <p class="trn">{{ Data.gcb }} </p> {% endif %}
				<div id="owl-example" class="trndiv owl-carousel">
					<div class="item">
						<div>
							<a class="float-button" id='gcb_button_req' data-toggle="tooltip" data-placement="bottom" title="Copy" onclick="copyToClipboard('#gcb_request', '#gcb_button_req')"><i class="fas fa-copy"></i></a>
						</div>
						<div><pre lang="xml"><code id="gcb_request"> {{ Result.gcb_request }} </code></pre></div>
					</div>
					<div class="item">
						<div>
							<a class="float-button" id='gcb_button_res' data-toggle="tooltip" data-placement="bottom" title="Copy" onclick="copyToClipboard('#gcb_response', '#gcb_button_res')"><i class="fas fa-copy"></i></a>
						</div>
						<pre lang="xml"><code id="gcb_response">{{ Result.gcb_response }}</code></pre>
					</div>
				</div>
				<div class="shadow-textarea w-100 text-center">
					<div data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0" class="w-100 text-center p-2" ><span style="vertical-align: middle;"><i class="fa fa-solid" aria-hidden="true"></i></span><span class="m-5" style="font-weight:600">Response Text :  {{ Data.GCBResponseText }}</span></div>
				</div>
				<div class="shadow-textarea w-100 text-center">
				  	<div data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0" class="w-100 text-center p-2" ><span style="vertical-align: middle;"><i class="fa fa-solid" aria-hidden="true"></i></span><span class="m-5" style="font-weight:600">Card Type :  {{  Data.GCBCardType }}</span></div>
				</div>
			</div>
			<div class="col-md-4 tableFixHead">
				{% if Data.Parent_transaction %}<p class="trn">{{ Data.Parent_transaction }} </p>{% endif %}
				  <div id="owl-example1" class="trndiv owl-carousel">
					<div class="item">
						<div>
							<a class="float-button" id="parent_button_req" data-toggle="tooltip" data-placement="bottom" title="Copy" onclick="copyToClipboard('#parent_request', '#parent_button_req')"><i class="fas fa-copy"></i></a>
						</div>
						<pre><code id="parent_request">{{ Result.Parent_request }}</code></pre>
					</div>
					<div class="item">
						<div>
							<a class="float-button" id="parent_button_res" data-toggle="tooltip" data-placement="bottom" title="Copy" onclick="copyToClipboard('#parent_response', '#parent_button_res')"><i class="fas fa-copy"></i></a>
						</div>
						<pre><code id="parent_response">{{ Result.Parent_response }}</code></pre>
					</div>
				 </div>
				  <div class="shadow-textarea w-100 text-center">
				  <div data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0" class="w-100 text-center p-2" ><span style="vertical-align: middle;"><i class="fa fa-solid fa-check" aria-hidden="true"></i></span><span class="m-5" style="font-weight:600">Response Text :  {{ Data.ParentResponseText }}</span></div>
				  </div>
				  <div class="shadow-textarea w-100 text-center">
			   <div data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0" class="w-100 text-center p-2" ><span style="vertical-align: middle;"><i class="fa fa-solid fa-check" aria-hidden="true"></i></span><span class="m-5" style="font-weight:600">TransactionID : {{ Data.ParentTransactionID }}</span></div>
			   </div>
			</div>
			<div class="col-md-4 tableFixHead">
				{% if Data.Child_transaction %}<p class="trn">{{ Data.Child_transaction }}</p>{% endif %}
			   <div id="owl-example2" class="trndiv owl-carousel">
					<div class="item">
						<div>
							<a class="float-button" id='child_button_req' data-toggle="tooltip" data-placement="bottom" title="Copy" onclick="copyToClipboard('#child_request', '#child_button_req')"><i class="fas fa-copy"></i></a>
						</div>
						<pre id="child_request">{{ Result.Child_request }}</pre>
					</div>
					<div class="item">
						<div>
							<a class="float-button" id='child_button_res' data-toggle="tooltip" data-placement="bottom" title="Copy" onclick="copyToClipboard('#child_response', '#child_button_res')"><i class="fas fa-copy"></i></a>
						</div>
						<pre id="child_response">{{ Result.Child_response }}</pre>
					</div>
				</div>
			   <div class="shadow-textarea w-100 text-center">
			   <div data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0" class="w-100 text-center p-2" ><span style="vertical-align: middle;"><i class="fa fa-solid fa-check" aria-hidden="true"></i></span><span class="m-5" style="font-weight:600">Response Text : {{ Data.ChildResponseText }}</span></div>
			   </div>
			   <div class="shadow-textarea w-100 text-center">
			   <div data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0" class="w-100 text-center p-2" ><span style="vertical-align: middle;"><i class="fa fa-solid fa-check" aria-hidden="true"></i></span><span class="m-5" style="font-weight:600">TransactionID : {{ Data.ChildTransactionID }}</span></div>
			   </div>
			</div>
		</div>
	</div>
	{% endif %}
        </div>
      </div>
    </div>
  </section>
</main>
<a class="back-to-top" href="#"><i class="icofont-simple-up"></i></a>
<script src="{% static 'asset/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'asset/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'asset/vendor/counterup/counterup.min.js' %}"></script>
<script src="{% static 'asset/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'asset/vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'asset/vendor/aos/aos.js' %}"></script>
<script src="{% static 'asset/js/Indoor_Processor.js' %}"></script>
<script src="{% static 'asset/js/main.js' %}"></script>
<script type="text/javascript">
$(document).ready(function () {
    $(document).on("keydown", function(e) {
        e = e || window.event;
        if (e.ctrlKey) {
            var c = e.which || e.keyCode;
            if (c == 82) {
                e.preventDefault();
                e.stopPropagation();
            }
        }
    });
});

function copyToClipboard(element, element2) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
  $('body').find('.float-button').removeClass("float-button-click");
  $(element2).toggleClass("float-button-click");
}

$(".trndiv").owlCarousel({
    autoPlay: 3000,
    items: 3,
    margin: 10,
    itemsDesktop: [1199, 1],
    itemsDesktopSmall: [979, 1],
    navigation: true,
    responsiveClass: true,
    responsive: {
        0: {
            items: 1,

        },
        600: {
            items: 1,

        },
        1000: {
            items: 1,

        }
    }

});
	console.log(typeof Parent_request);
</script>
</body>
</html>